<div id="stats-container">
    <div id="stats">

        <div id="chart">
            <div *ngFor="let x of daysIds" class="day-progress">

                <div class="bar-space">
                    <div class="bar" (mouseenter)="barHover(text)" (mouseleave)="barNoHover(text)" [ngStyle]="{'height': dayProgressBarHeightGet(x), 'top': dayPrograssBarPositionGet(x)}"></div>
                </div>

                <div class="minutes">
                    <p #text>{{days[x]}}</p>
                </div>

            </div>
        </div>

        <div id="options">
            <input #date type="month" [(ngModel)]="selectedDate" (change)="monthChange(date.value) " />
        </div>

    </div>
</div>