<div id="login-container">

    <div id="login-box">
        <p>Username</p>
        <input type="text" #usernameInput>
        <p>Password</p>
        <input type="password" #passwordInput>
        <br>
        <br>
        <input BigLetter type="submit" (click)="handleSubmit(usernameInput, passwordInput, login.checked)" />
        <br>
        <div>
            <label for="sing-in">login</label>
            <input type="checkbox" name="sign-in" #login [checked]="true" />
        </div>
    </div>

</div>